

<div class="footer">
     <div class="responsive-container">
          <div class="inner-footer" style="background-color: transparent">
               <ul>
                    <li><a href="https://www.linkedin.com/in/iamhosseindhv"><span>About Us</span></a></li>
                    <li><a href="mailto:hossein.dehnavi98@yahoo.com"><span>Contact Us</span></a></li>
                    <li><a href="#"><span>Careers</span></a></li>
                    <li><a href="#"><span>Help</span></a></li>
                    <li><a href="#"><span>Privacy</span></a></li>
                    <li><a href="#"><span>Terms of use</span></a></li>
               </ul>
          </div>
     </div>
</div>
<div class="copyright-container">
     © 2017 NodeWeb | All Right Reserved
</div>


<style>
     .footer {
          background: url('https://www.imageupload.co.uk/images/2017/10/09/bg-1.png') right bottom no-repeat;
          background-size: 75%;
          box-sizing: border-box;
          margin-top: 50px;
          border-top: 1px solid #dcdcdc;
          height: inherit;
          font-weight: bold;
          color: #484848;
     }
     .inner-footer {
          padding: 45px 22px;
     }
     .inner-footer ul {
          margin: 0;
          padding:0;
          list-style: none;
     }
     .inner-footer a {
          text-decoration: none !important;
          color: inherit !important;
     }
     .inner-footer span:hover {
          color: #727272 !important;
     }
     .inner-footer span {
          width: auto;
          line-height: 35px;
     }
     .copyright-container {
          height: 50px;
          border-top: 1px solid #f2f2f2;
          background-color: #fff;
          color: #727272;
          font-size: 14px;
          text-align: center;
          line-height: 50px;
     }
</style>