
<div id="nav-wrapper">
     <nav class="responsive-container">
          <div class="scl">
               <a href="" id="nav-wrapper--messages">Messages</a>
               <a href="" id="nav-wrapper--your-rooms" class="active">Your Rooms</a>
               <a href="" id="nav-wrapper--profile">Profile</a>
               <a href="" id="nav-wrapper--account">Account</a>
          </div>
     </nav>
</div>


<style>
     #nav-wrapper .active {
          border-bottom: 3px solid #fd5c63;
          color: #fff;
     }
     #nav-wrapper {
          height: 39px !important;
          background-color: #484848;
          text-align: center;
          -webkit-box-shadow: 0 3px 15px -3px rgba(0,0,0,0.5);
          box-shadow: 0 3px 15px -3px rgba(0,0,0,0.5);
     }
     .nav-wrapper--fixed {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 5;
     }
     #nav-wrapper nav {
          height: 40px;
          text-align: left;
          overflow: hidden;
          position: relative;
     }
     .scl {
          height: 60px;
          white-space: nowrap;
          overflow-x: scroll;
          overflow-y: hidden;
          -webkit-overflow-scrolling:touch;
     }
     nav a {
          display: inline-block;
          text-transform: uppercase;
          font-size: 12px;
          color: #d9d9d9;
          border-bottom: 3px solid transparent;
          text-decoration: none;
          padding: 8px 12px;
          line-height: 20px;
     }
</style>

