<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--vazir font-->
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v4.4.1/dist/font-face.css" />

    <!--specific files-->
    <link rel='stylesheet' href='/stylesheets/dashboard/rooms.css' />



</head>
<body>

    <% include ../partials/header.html %>
    <% include ../dashboard/header-container.html %>


    <div class="responsive-container">
        <div class="grid">
            <div class="cell column-3">
                <ul class="side-nav">
                    <li class="side-nav-item active">Your Listings</li>
                    <li class="side-nav-item">Reservations Calender</li>
                    <li class="side-nav-item">Add New Listing</li>
                </ul>
            </div>
            <div class="cell column-9">
                sfgfgghhg
            </div>
        </div>
    </div>



    <h1>Active tab is: <%= activeTab %></h1>


</body>
</html>
