<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--vazir font-->
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v4.4.1/dist/font-face.css" />
    <!--google material design components-->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>

    <div class="top-head"></div>


    <div class="container">
        <% include partials/login.html %>
    </div>



    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: scroll;
        }
        .top-head {
            height: 65px;
            border-bottom: 1px solid #dce0e0;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        .container {

        }
        .base-layer {
            position: relative;
            display: block;
            width: 100%;
            margin-top: 40px;
            background-color: transparent;
            z-index: 0;
        }
        .login-wrapper {
            border: 1px solid #dce0e0;
        }
        .close-btn {
            display: none;
        }

        @media (max-width: 743px){
            .login-wrapper {
                max-width: none !important;
                position: fixed !important;
                left: auto !important;
                right: auto !important;
                top: auto !important;
                bottom: auto !important;
                overflow-y: auto !important;
                border: none;
                border-bottom: 1px solid #dce0e0;
            }
        }
    </style>

</body>
</html>