<!DOCTYPE html>
<html>
<head>
     <title><%= title %></title>
     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
     <!--jQuery-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!--style sheets-->
     <link rel='stylesheet' href='/stylesheets/newListing.css'/>

</head>
<body>

     <% include partials/header.html %>

     <div class="responsive-container">
          <div class="grid">
               <form id="my-form" method="POST" action="/edit/new-listing">
                    <div>
                         <input name="" class="input-field" type="text" id="" placeholder="Pass">
                    </div>
                    <div>
                         <input name="" class="input-field" type="text" id="" placeholder="Shit">
                    </div>
               </form>
          </div>
     </div>

</body>
</html>