body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}
#content-wrap{
    overflow:auto;
}
#sidebar-wrap, #main-wrap {
    height: calc(100vh - 60px);
    height: -o-calc(100vh - 60px); /* opera */
    height: -webkit-calc(100vh - 60px); /* google, safari */
    height: -moz-calc(100vh - 60px); /* firefox */
}
#sidebar-wrap {
    top:40px;
    width:35%;
    overflow:auto;
}
#map {
    background-color:#dcdcdc;
    height:100%;
}
#main-wrap {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    float:right;
    width:65%;
    overflow:auto;
    background-color: #ffffff;
}



/* top area */
.head {
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}
.barWrapper-1, .barWrapper-2, .barWrapper-3 {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 4px;
    height: 40px;
}
.barWrapper-1 {
    /*background-color: red;*/
}
.barWrapper-2 {
    /*background-color: blue;*/
}
.barWrapper-3 {
    /*background-color: green;*/
    position: relative;
    padding-top: 2px;
    width: 100px;
}
.barWrapper-4 {
    margin: auto;
    float: left;
    /*background-color: #933ec5;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.head input {
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding: 12px !important;
    border: solid 1px #dcdcdc;
    transition: border 0.3s;
    font-size: 14px;
    outline: none;
}
.head input:focus {
    border: solid 1px #707070;
}
.head input::placeholder {
    color: rgb(118, 118, 118);
}
.search-btn {
    box-sizing: border-box;
    height: 100%;
    width: calc(100% - 77%);
    background-color: #fff;
    vertical-align: top;
    border-radius: 2px;
    transition: all .2s;
    border: 1px solid #dcdcdc;
}
.search-btn:hover {
    background-color: #dcdcdc;
}
.input-select {
    appearance: none;
    -webkit-appearance: none;
    background: #fff !important;
    padding: 0 10px;
    width: 100%;
    height: 37px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    outline: none;
}
.dropdown-icon {
    position: absolute !important;
    top: 15px !important;
    left: 16px !important;
    pointer-events: none !important;
}
.barWrapper-4 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.head-li {
    font-weight: bold;
    display: inline-block;
    font-family: "HelveticaNeue-Light";
    transition: all 0.3s;
    font-size: 16px;
    padding: 5px 16px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #727272;
    cursor: pointer;
}
.head-li:hover {
    color: #484848;
}
#logo {
    color: #484848 !important;
    cursor: default !important;
}
.pac-item {
    text-align: left;
    padding: 8px 5px;
    color: #767676 !important;
}
.pac-item:hover {
    background-color: rgba(147, 62, 197, 0.5);
}
.pac-icon {
    display: none;
}
.pac-item-query {
    padding: 0 5px;
}
#from-date, #to-date {
    box-sizing : border-box;
    width: 37%;
    height: 40px;
    text-align: left;
}






/* results area */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 3;
}

.result-cell {
    background-color: #fff;
}

.result-cell a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.cell-thumbnail {
    position: relative;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
    width: 100%;
}

.cell-thumbnail img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    -o-object-fit: cover;
}

.cell-info {
    display: table-row;
    box-sizing: border-box;
}
.cell-info-heart {
    display: table-cell;
    vertical-align: middle;
    padding: 0 21px 0 0;
    background-color: #fff;
}
.icon-heart {
    transition: all 0.3s;
    padding: 1px 4px;
    fill: transparent;
    width: 20px;
    stroke-linejoin: round;
    stroke: #727272;
    stroke-width: 4px;
}
.icon-heart:hover {
    fill: red;
    stroke: red;
}
.cell-info-detail {
    display: table-cell;
    width: 100% !important;
    padding: 4px 8px;
    font-size: 15px;
    line-height: 22px;
    color: #484848;
}
.cell-info--price, .cell-info--title {
    font-weight: bold;
}
.cell-info--review-stars, .cell-info--review-count {
    display: inline-block;
}
.review-stars--individual {
    display: inline-block !important;
    color: rgb(206, 196, 132);
    font-size: 12px !important;
    height: 16px !important;
    width: 16px !important;
    fill: currentcolor;
}
.cell-info .cell-info--review-count {
    vertical-align: middle;
    font-size: 12px;
    padding: 4px 4px 0 4px;
}
.search-by-map {
    display: block;
}


/*pagination styles*/
.pagination {
    text-align: center;
    list-style: none;
}
.pagination li {
    display: inline-block;
    padding: 5px 10px;
    /*margin-left: 3px;*/
    cursor: pointer;
    border-radius: 3px;
}
.active {
    background-color: #fd5c63;
}
.item:not(.active):hover {
    background-color: #eeeeee;
}



.toggle-results-map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    margin: 0 auto;
    width: 50px;
    background-color: #fff;
    font-size: 1.2em;
    padding: 4px 20px;
    border-radius: 80px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14) ;
    align-content: center;
    text-align: center;
    z-index: 2;
    display: none !important;
}



/* responsibility stuff goes here */
.grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 8px;
}

.cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px !important;
}

.box {
    position: relative;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
    width: 100%;
}
.margin-free {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}





@media (max-width: 743px) {
    .cell {
        margin: 8px;
        width: calc(100% - 16px);
        width: -o-calc(100% - 16px); /* opera */
        width: -webkit-calc(100% - 16px); /* google, safari */
        width: -moz-calc(100% - 16px); /* firefox */
    }
    .head {
        border-bottom: 1px solid #dcdcdc;
    }
    .barWrapper-1, .barWrapper-2, .barWrapper-3 {
        width: 100%;
        margin-bottom: 4px;
    }
}


@media (min-width: 744px) and (max-width: 1439px) {
    .cell {
        margin: 8px;
        width: calc(50% - 16px);
        width: -o-calc(50% - 16px); /* opera */
        width: -webkit-calc(50% - 16px); /* google, safari */
        width: -moz-calc(50% - 16px); /* firefox */
    }
    .barWrapper-1, .barWrapper-2 {
        width: calc(33.3333% - 16px);
        width: -o-calc(33.3333% - 16px); /* opera */
        width: -webkit-calc(33.3333% - 16px); /* google, safari */
        width: -moz-calc(33.3333% - 16px); /* firefox */
    }
}



@media (min-width: 1440px) {
    .cell {
        margin: 8px;
        width: calc(33.3333% - 16px);
        width: -o-calc(33.3333% - 16px); /* opera */
        width: -webkit-calc(33.3333% - 16px); /* google, safari */
        width: -moz-calc(33.3333% - 16px); /* firefox */
    }
}

@media (max-width: 1128px) {
    .toggle-results-map {
        display: block !important;
    }
    #main-wrap {
        width: 100%;
    }
    #sidebar-wrap {
        width: 100%;
        display: none;
    }
    .search-by-map {
        display: none;
    }
}

@media (min-width: 1129px) {
    #main-wrap {
        width: 65%;
    }
    #sidebar-wrap {
        width: 35%;
    }
    .barWrapper-1 {
        width: calc(25% - 16px);
        width: -o-calc(25% - 16px); /* opera */
        width: -webkit-calc(25% - 16px); /* google, safari */
        width: -moz-calc(25% - 16px); /* firefox */
    }
    .barWrapper-2 {
        width: calc(30% - 16px);
        width: -o-calc(30% - 16px); /* opera */
        width: -webkit-calc(30% - 16px); /* google, safari */
        width: -moz-calc(30% - 16px); /* firefox */
    }
}